@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common styles or utilities */
:root {
    --primary-color: #562EFE;
}
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #F3F1FF;
}
main {
    display: flex;
    justify-content: center;
}
.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}
.section-title {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 25px;
}
/* Top Player Styles */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #D1D1D1;
}
.player {
    display: flex;
    align-items: center;
    gap: 16px;
}
.player h3 {
    font-size: 18px;
}
.player img {
    width: 56px;
    height: 56px;
}
/* .top-content-title {
    margin-bottom: 30px;
    color: var(--primary-color);
}
.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid #ccc;
}
.top-player {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}
.top-player-img {
    height: 58px;
    width: 58px;
} */

/* Top Blog Styles */
/* .blog-container {
    padding-top:40px;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
}
.blog {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: 50%;
}
.blog > img {
    width: 100%;
} */
